
     

{% extends 'base.html.twig' %}

{% block title %} Etudiant{% endblock %}

{% block body %}
     <h1><a href="{{ path('ajoutetudiant') }}">Personne</a> </h1>

     <button class="btn btn-primary ajout" id="ajout" type="button"><a href="/ajoutetudiant">Ajouter etudiant</a> </button>

    <table>
        <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Date</th>
            <th scope="col">Tel</th>
            <th scope="col">Email</th>
            <th scope="col">Mat</th>
            <th colspan="2">Action</th>
        </tr>
        {% for etudiant in etudiants  %}
            <tr>
                <td>{{etudiant.prenom}}</td>
                <td>{{etudiant.nom}} </td>
                <td>{{etudiant.dateNaissance|date('d/m/Y')}}</td>
                <td>{{etudiant.tel}} </td>
                <td>{{etudiant.email}}</td>
                <td>{{etudiant.mat}}</td>
                
                
                <td><a href="">Modifier</a></td>
                <td><a href="">Supprimer</a></td>
               
            </tr>
        {% endfor %}
       
    </table>
{% endblock %}
